
venv/
.vscide/
.git/
.idea/
__pycache__
user.db
tools

# Don't stage notebooks
*.ipynb

# Don't stage .vscode and .idea
.vscode/
.idea/

# Don't state conf.py
conf/
tools/
config.yaml

# Don't stages dataset
*.csv
dataset/